---
interface Props {
  className?: string;
}

const { className = "" } = Astro.props;

const splitClasses = className.split(" ");
---

<div
  class="rounded-xl p-6 w-full border border-gray-200/50 dark:border-neutral-700/50 flex flex-col gap-2 bg-white/80 dark:bg-gray-900/80 backdrop-blur-md shadow-lg hover:shadow-xl transition-all duration-300"
  class:list={splitClasses}
>
  <slot />
</div>
