---
interface Props {
  title: string;
  date: string;
  description: string;
  badgeText?: string;
}

const { title, date, description, badgeText } = Astro.props;
---

<li class="mb-10 ms-8 animate-slide-up">
  <span
    class="absolute flex items-center justify-center size-6 bg-gradient-to-br from-blue-400 to-purple-500 rounded-full -start-3 ring-8 ring-blue-100/50 dark:ring-blue-950/60 shadow-lg"
  >
    <slot name="icon" />
  </span>
  <h3
    class="flex items-center mb-1 text-lg font-semibold text-gray-950 dark:text-white"
  >
    {title}
    {
      badgeText && (
        <span class="bg-gradient-to-r from-blue-500 to-purple-500 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded-full ms-3 shadow-md">
          {badgeText}
        </span>
      )
    }
  </h3>
  <time class="block mb-2 text-sm font-normal leading-none text-gray-500 dark:text-gray-400"
    >{date}</time
  >
  <p
    class="mb-4 text-sm sm:text-base font-normal text-gray-600 dark:text-gray-400"
  >
    {description}
  </p>
  <slot name="extra-content" />
</li>
